# Додаткове завдання з pandas
Вітаю! В цьому завданні будемо працювати з даними з опитування щодо зарплат ІТ спеціалістів на рексурсі DOU від грудня 2022 року. Впевнена, це буде цікаве дослідження, а заразом і практика pandas :)
Цей аналіз може бути корисним людині, яка обирає напрям роботи в ІТ і хоче зрозуміти тенденції. За якісного виконання цього аналізу, цей проєкт можна сміливо додавати у Ваше портфоліо!

In [33]:
import datetime
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

1. Зчитайте дані з файлу `2022_dec_raw.csv`. Увага! Тут необхідно використати аргумент `pd.read_csv` `sep=';'`, бо розділювач в даних - крапка з комою.

In [9]:
df = pd.read_csv('../Python Tasks/2022_dec_raw.csv', sep=';')

2. Які колонки мають дані?

In [10]:
df.columns

Index(['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ',
       'В якій області ви зараз живете?',
       'Зарплата у $$$ за місяць, лише ставка після сплати податків',
       'Ваша стать', 'Ваш вік', 'Яка у вас освіта?',
       'Чи є у вас науковий ступінь? ', 'Знання англійської мови',
       'Оберіть вашу посаду', 'Ваш тайтл', 'Ваша спеціалізація',
       'Вкажіть вашу спеціалізацію', 'Оберіть вашу спеціалізацію',
       'Ваша посада', 'Оберіть вашу посаду2', 'Ваша посада3', 'Ваша посада4',
       'Ваша посада5', 'Ваша посада6', 'Ваша посада7',
       'Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?',
       'Основна мова програмування', 'Вкажіть вашу основну спеціалізацію',
       'В якій сфері працюєте?', 'Тип компанії',
       'Загальний стаж роботи за спеціальністю'],
      dtype='object')

3. Скільки рядків та колонок мають дані? Скільки пропущених значень має кожна з колонок?

In [11]:
df.shape

(13315, 28)

In [12]:
null_counts = df.isnull().sum().sort_values(ascending=False)
null_counts

Ваша посада7                                                                  13199
Ваша спеціалізація                                                            13156
Ваша посада5                                                                  13027
Ваша посада                                                                   13010
Ваша посада6                                                                  12962
Ваша посада4                                                                  12830
Оберіть вашу спеціалізацію                                                    12829
Оберіть вашу посаду2                                                          12755
Ваша посада3                                                                  12494
Вкажіть вашу спеціалізацію                                                    10951
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?     8441
Вкажіть вашу основну спеціалізацію                                             4256
Основна мова програмування                                                     4255
В якій області ви зараз живете?                                                1777
Чи є у вас науковий ступінь?                                                    111
Зарплата у $$$ за місяць, лише ставка після сплати податків                      27
В якій сфері працюєте?                                                            0
Тип компанії                                                                      0
Timestamp                                                                         0
Ви працюєте зараз в ІТ?                                                           0
Ваш тайтл                                                                         0
Оберіть вашу посаду                                                               0
Знання англійської мови                                                           0
Яка у вас освіта?                                                                 0
Ваш вік                                                                           0
Ваша стать                                                                        0
Де ви зараз живете?                                                               0
Загальний стаж роботи за спеціальністю                                            0
dtype: int64

4. Які колонки мають всі значення заповненими (не мають дожного None значення)? Виведіть програмно список цих колонок.

In [15]:
non_missing_columns = df.columns[df.notna().all()]
non_missing_columns

Index(['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ',
       'Ваша стать', 'Ваш вік', 'Яка у вас освіта?', 'Знання англійської мови',
       'Оберіть вашу посаду', 'Ваш тайтл', 'В якій сфері працюєте?',
       'Тип компанії', 'Загальний стаж роботи за спеціальністю'],
      dtype='object')

5. Який тип мають колонки в наборі даних? Які з колонок типу object логічно на ваш погляд перетворити на числові колонки?

In [13]:
df.dtypes

Timestamp                                                                     object
Ви працюєте зараз в ІТ?                                                       object
Де ви зараз живете?                                                           object
В якій області ви зараз живете?                                               object
Зарплата у $$$ за місяць, лише ставка після сплати податків                   object
Ваша стать                                                                    object
Ваш вік                                                                       object
Яка у вас освіта?                                                             object
Чи є у вас науковий ступінь?                                                  object
Знання англійської мови                                                       object
Оберіть вашу посаду                                                           object
Ваш тайтл                                                                     object
Ваша спеціалізація                                                            object
Вкажіть вашу спеціалізацію                                                    object
Оберіть вашу спеціалізацію                                                    object
Ваша посада                                                                   object
Оберіть вашу посаду2                                                          object
Ваша посада3                                                                  object
Ваша посада4                                                                  object
Ваша посада5                                                                  object
Ваша посада6                                                                  object
Ваша посада7                                                                  object
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?    object
Основна мова програмування                                                    object
Вкажіть вашу основну спеціалізацію                                            object
В якій сфері працюєте?                                                        object
Тип компанії                                                                  object
Загальний стаж роботи за спеціальністю                                        object
dtype: object

6. Трансформуйте колонки 'Ваш вік', 'Зарплата у $$$ за місяць, лише ставка після сплати податків' у тип даних float. УВАГА! Перед трансформацією подивіться, які дані містять ці колонки. Аби успішно трансформувати тип даних, треба спочатку привести рядки до того виду, який буде підходити, аби потім рядок зробити типом float.

In [74]:
pd.set_option('display.max_columns', None)

In [80]:
display(df.head(5), df.tail(5))

,Timestamp,Ви працюєте зараз в ІТ?,Де ви зараз живете?,В якій області ви зараз живете?,"Зарплата у $$$ за місяць, лише ставка після сплати податків",Ваша стать,Ваш вік,Яка у вас освіта?,Чи є у вас науковий ступінь?,Знання англійської мови,Оберіть вашу посаду,Ваш тайтл,Ваша спеціалізація,Вкажіть вашу спеціалізацію,Оберіть вашу спеціалізацію,Ваша посада,Оберіть вашу посаду2,Ваша посада3,Ваша посада4,Ваша посада5,Ваша посада6,Ваша посада7,Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?,Основна мова програмування,Вкажіть вашу основну спеціалізацію,В якій сфері працюєте?,Тип компанії,Загальний стаж роботи за спеціальністю,Назва спеціальності
0,2022-11-30 10:26:37,"Так, працюю part-time",В Україні,Івано-Франківськ чи область,4000.0,Чоловік,29.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,"Designer / Artist (Graphic, UX/UI, Game, Artis...",Team Lead,NaN,NaN,Product Designer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Blockchain,Стартап,8.0,Product Designer
1,2022-11-30 10:26:39,"Так, працюю full-time","За кордоном (переїхали через війну, але планую...",NaN,NaN,Чоловік,36.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Advanced,"Software Engineer (Junior, Middle, Senior, Tea...",Middle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ruby,Full Stack розробка,Public services / Government,Продуктова,3.0,
2,2022-11-30 10:26:58,"Так, працюю full-time",В Україні,Київ чи область,2500.0,Чоловік,34.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Elementary,"Software Engineer (Junior, Middle, Senior, Tea...",Middle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C# / .NET,Full Stack розробка,"Adtech / Advertising, Security, Telecom",Продуктова,4.0,
3,2022-11-30 10:27:31,"Так, працюю full-time",В Україні,Львів чи область,500.0,Жінка,23.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Pre-Intermediate,"QA Engineer (Junior, Middle, Senior, Team/Tech...",Junior,NaN,Manual QA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Ні, не використовую",NaN,NaN,Telecom,Продуктова,0.5,Manual QA
4,2022-11-30 10:27:34,"Ні, тимчасово не працюю",В Україні,Житомир чи область,2800.0,Жінка,33.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Upper-Intermediate,"QA Engineer (Junior, Middle, Senior, Team/Tech...",Senior,NaN,Manual QA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Ні, не використовую",NaN,NaN,Automotive,Продуктова,6.0,Manual QA

,Timestamp,Ви працюєте зараз в ІТ?,Де ви зараз живете?,В якій області ви зараз живете?,"Зарплата у $$$ за місяць, лише ставка після сплати податків",Ваша стать,Ваш вік,Яка у вас освіта?,Чи є у вас науковий ступінь?,Знання англійської мови,Оберіть вашу посаду,Ваш тайтл,Ваша спеціалізація,Вкажіть вашу спеціалізацію,Оберіть вашу спеціалізацію,Ваша посада,Оберіть вашу посаду2,Ваша посада3,Ваша посада4,Ваша посада5,Ваша посада6,Ваша посада7,Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?,Основна мова програмування,Вкажіть вашу основну спеціалізацію,В якій сфері працюєте?,Тип компанії,Загальний стаж роботи за спеціальністю,Назва спеціальності
13310,2023-09-01 11:01:00,"Так, працюю full-time",В Україні,Харків чи область,4000.0,Чоловік,25.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,"QA Engineer (Junior, Middle, Senior, Team/Tech...",Middle,NaN,Automation QA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Так, використовую",TypeScript,QA,Medtech / Healthcare,Продуктова,6.0,Automation QA
13311,2023-09-01 11:14:00,"Так, працюю full-time","За кордоном (переїхали через війну, але планую...",NaN,3500.0,Чоловік,28.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,"Software Engineer (Junior, Middle, Senior, Tea...",Middle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript,Front-end розробка,Blockchain,Аутсорсингова,5.0,
13312,2023-09-01 11:19:00,"Так, працюю full-time",В Україні,Дніпро чи область,1930.0,Чоловік,25.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Intermediate,"Designer / Artist (Graphic, UX/UI, Game, Artis...",Немає тайтлу,NaN,NaN,UI/UX Designer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Blockchain, Fintech / Banking, Mobile",Аутсорсингова,3.0,UI/UX Designer
13313,2023-09-01 11:28:00,"Так, працюю full-time",В Україні,Одеса чи область,4500.0,Чоловік,31.0,Середня,Немає,Upper-Intermediate,"Software Engineer (Junior, Middle, Senior, Tea...",Senior,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript,Full Stack розробка,Mobile,Продуктова,8.0,
13314,2023-09-01 11:38:00,"Так, працюю full-time","За кордоном (переїхали через війну, але планую...",NaN,4200.0,Чоловік,32.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Upper-Intermediate,"Software Engineer (Junior, Middle, Senior, Tea...",Senior,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PHP,Back-end розробка,"High Load Systems, Media",Аутстафінгова,11.0,

In [78]:
df.columns.get_loc('Ваш тайтл')

11

In [23]:
df['Ваш вік'] = df['Ваш вік'].str.replace(',', '.').astype(float)

In [26]:
df['Зарплата у $$$ за місяць, лише ставка після сплати податків'] = df['Зарплата у $$$ за місяць, лише ставка після сплати податків'].str.replace(',', '').astype(float)

7. Це завдання з зірочкою! Нам треба транфсформувати колонку Timestamp у тип даних `datetime64[ns]`. Це не так просто як здається на першйий погляд :) Але це реальна ситуація, яка може трапитись при зборі даних в роботі аналітиком.
Я запропоную один зі способів виконати завдання, але ви можете написати по-своєму. Головне - отримати колонку - потрібного типу. 
Пропоную наступний алгоритм дій:
    1. Подивитись, які дані містяться в цій колонці. Виведіть перші і останні 5 записів. Чи однаковий формат цих даних? (спойлер: ні, бо інакше все було б просто :))
    2. Нам треба враховуючи різний формат даних перетворити рядок у колонці `Timestamp` на тип `datetime64[ns]`. Як це зробити? Для перетворення рядка на `datetime64` пропоную скористатись `datetime.datetime.strptime`.
    Для цього треба імпортувати бібліотеку `datetime`. Я пропоную написати функцію для обробки кожного окремого рядка, яка враховує довжину рядка і на основі цього застосовує різний формат даних дати.
    Як прописувати формат даних можна переглянути [тут](https://www.w3schools.com/python/python_datetime.asp).
    3. Коли функція для обробки кожного окремого рядка готова, застосуйте її для всіх даних з допомогою методу `apply`.

In [34]:
def parse_date(date_str):
    try:
        return datetime.datetime.strptime(date_str, '%m.%d.%Y %H:%M:%S')
    except ValueError:
        try:
            return datetime.datetime.strptime(date_str, '%d.%m.%Y %H:%M')
        except ValueError:
            return None

In [35]:
df['Timestamp'] = df['Timestamp'].apply(parse_date)

8. Для колонок типу даних object (які такими лишились після всіх наших трансформацій) виведіть кількість унікальних значень.

In [37]:
object_columns = df.select_dtypes(include=['object'])

In [38]:
unique_value_counts = object_columns.nunique()
unique_value_counts

Ви працюєте зараз в ІТ?                                                          5
Де ви зараз живете?                                                              2
В якій області ви зараз живете?                                                 23
Ваша стать                                                                       2
Яка у вас освіта?                                                                5
Чи є у вас науковий ступінь?                                                     3
Знання англійської мови                                                          5
Оберіть вашу посаду                                                             22
Ваш тайтл                                                                       10
Ваша спеціалізація                                                               8
Вкажіть вашу спеціалізацію                                                       4
Оберіть вашу спеціалізацію                                                      21
Ваша посада                                                                     15
Оберіть вашу посаду2                                                             7
Ваша посада3                                                                     7
Ваша посада4                                                                     5
Ваша посада5                                                                     6
Ваша посада6                                                                     2
Ваша посада7                                                                     4
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?       2
Основна мова програмування                                                      33
Вкажіть вашу основну спеціалізацію                                              12
В якій сфері працюєте?                                                        1768
Тип компанії                                                                     6
Загальний стаж роботи за спеціальністю                                          19
dtype: int64

9. Для колонок типу даних object виведіть топ 10 найбільш частих значень з кількістю рядків, в яких це значення зустрічається. Зробіть це для кожної колонки окремо. Наприклад, в циклі.  
Що цікавого бачите? Які висновки можна зробити? Що особисто Вас вразило?

In [39]:
for column in object_columns:
    top_10_values = df[column].value_counts().head(10)
    print(f"Column: {column}")
    print(top_10_values)
    print()

Column: Ви працюєте зараз в ІТ?
Так, працюю full-time      12643
Ні, тимчасово не працюю      380
Так, працюю part-time        152
Так, я фрилансер             115
Інше                          25
Name: Ви працюєте зараз в ІТ?, dtype: int64

Column: Де ви зараз живете?
В Україні                                                      11587
За кордоном (переїхали через війну, але планую повернутися)     1728
Name: Де ви зараз живете? , dtype: int64

Column: В якій області ви зараз живете?
Київ чи область                4411
Львів чи область               2353
Дніпро чи область               751
Івано-Франківськ чи область     478
Вінниця чи область              447
Одеса чи область                443
Харків чи область               355
Полтава чи область              252
Черкаси чи область              232
Хмельницький чи область         230
Name: В якій області ви зараз живете?, dtype: int64

Column: Ваша стать
Чоловік    10221
Жінка       3094
Name: Ваша стать, dtype: int64

Column: Яка у вас освіта?
Вища (бакалавр, спеціаліст, магістр)    10645
Дві вищі                                 1002
Ще студент вишу                           811
Середня                                   447
Середня спеціальна                        410
Name: Яка у вас освіта?, dtype: int64

Column: Чи є у вас науковий ступінь?
Немає                  12980
Кандидат наук / PhD      216
Доктор наук                8
Name: Чи є у вас науковий ступінь? , dtype: int64

Column: Знання англійської мови
Upper-Intermediate    5538
Intermediate          4475
Advanced              1622
Pre-Intermediate      1401
Elementary             279
Name: Знання англійської мови, dtype: int64

Column: Оберіть вашу посаду
Software Engineer (Junior, Middle, Senior, Team/Tech Lead, Architect)             6773
QA Engineer (Junior, Middle, Senior, Team/Tech Lead, Manager)                     2364
Project/Product/Program Manager, Product Owner, Scrum Master, Delivery Manager     821
HR/Recruiter                                                                       560
Designer / Artist (Graphic, UX/UI, Game, Artist, Sound etc.)                       486
Analyst (Business, Data, System)                                                   485
DevOps, SRE                                                                        353
Marketing, SEO, Copywriter                                                         305
Data Science, Machine Learning, Big Data                                           288
Game Developer / Programmer                                                        160
Name: Оберіть вашу посаду, dtype: int64

Column: Ваш тайтл
Middle            4710
Senior            3400
Junior            2316
Team Lead          883
Немає тайтлу       571
Tech Lead          430
Manager            375
Head               250
Intern/Trainee     240
Architect          140
Name: Ваш тайтл, dtype: int64

Column: Ваша спеціалізація
Programmer                       89
Gameplay Programmer              42
Engine Programmer                 8
.NET Programmer                   6
Ul Programmer                     4
Rendering/Graphics Programmer     4
Al Programmer                     3
Інше                              3
Name: Ваша спеціалізація, dtype: int64

Column: Вкажіть вашу спеціалізацію
Manual QA         1467
Automation QA      531
General QA         354
Performance QA      12
Name: Вкажіть вашу спеціалізацію, dtype: int64

Column: Оберіть вашу спеціалізацію
UI/UX Designer              201
Product Designer             60
3D Artist                    40
2D Artist                    35
Graphic / Video Designer     33
Game Designer                20
Designer                     15
Animator                     14
Other                        12
Web Designer                 11
Name: Оберіть вашу спеціалізацію, dtype: int64

Column: Ваша посада
Other                            44
Marketing Manager                44
SEO Specialist                   34
Digital Marketing Manager        33
Copywriter                       27
Chief Marketing Officer (CMO)    22
Employer Brand Manager           20
SMM Manager                      20
PR Manager                       16
Product Marketing Manager        11
Name: Ваша посада, dtype: int64

Column: Оберіть вашу посаду2
Recruiter                             201
HR Manager                            131
Talent Acquisition Manager             52
Talent Researcher/Sourcer              51
HR Director                            45
HR Business Partner                    40
People partner / Happiness manager     40
Name: Оберіть вашу посаду2, dtype: int64

Column: Ваша посада3
Project Manager     443
Product Manager     135
Delivery Manager     88
Product Owner        67
Scrum Master         42
Program Manager      29
Business Manager     17
Name: Ваша посада3, dtype: int64

Column: Ваша посада4
Business Analyst    289
Data Analyst        106
Product Analyst      34
System Analyst       32
BI Analyst           24
Name: Ваша посада4, dtype: int64

Column: Ваша посада5
Data Engineer / Big Data Engineer    104
Data Scientist                        93
Machine Learning Engineer             46
Computer Vision Engineer              21
Research Engineer                     15
BI Engineer                            9
Name: Ваша посада5, dtype: int64

Column: Ваша посада6
DevOps Engineer              325
Site Reliability Engineer     28
Name: Ваша посада6, dtype: int64

Column: Ваша посада7
CTO                        41
Director of Engineering    33
CEO, (co-) founder         28
Program Director           14
Name: Ваша посада7, dtype: int64

Column: Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?
Ні, не використовую    2754
Так, використовую      2120
Name: Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?, dtype: int64

Column: Основна мова програмування
JavaScript    1695
Java          1241
Python        1190
TypeScript    1179
C# / .NET     1179
PHP            627
Kotlin         286
C++            251
Swift          221
SQL            201
Name: Основна мова програмування, dtype: int64

Column: Вкажіть вашу основну спеціалізацію
Back-end  розробка               2847
Full Stack розробка              1628
Front-end  розробка              1628
QA                               1079
Mobile  розробка                  665
Робота з даними, аналіз даних     558
DevOps                            308
Інше                              293
Embedded                           49
embedded                            2
Name: Вкажіть вашу основну спеціалізацію, dtype: int64

Column: В якій сфері працюєте?
Інша                    1445
E-commerce              1243
Fintech / Banking        942
Medtech / Healthcare     547
GameDev                  449
Gambling                 352
Edtech / Education       250
Telecom                  232
Mobile                   200
Adtech / Advertising     193
Name: В якій сфері працюєте?, dtype: int64

Column: Тип компанії
Аутсорсингова    5593
Продуктова       4940
Аутстафінгова    1767
Стартап           539
Інша              355
Фріланс           121
Name: Тип компанії, dtype: int64

Column: Загальний стаж роботи за спеціальністю
3 роки               1608
4 роки               1447
2 роки               1427
5 років              1351
1,5 року             1056
6 років               982
1 рік                 922
7 років               791
10 років              599
15 і більше років     586
Name: Загальний стаж роботи за спеціальністю, dtype: int64

10. Виведіть медіанну (медіана - це значення, менше якого є рівно 50% вибірки і більше якого є теж рівно 50% вибірки)
ЗП (Зарплата у $$$) для кожного рівня знання англійської. Які висновки можна зробити?

In [42]:
median_salary_by_english_level = df.groupby('Знання англійської мови')['Зарплата у $$$ за місяць, лише ставка після сплати податків'].median().reset_index()
median_salary_by_english_level

,Знання англійської мови,"Зарплата у $$$ за місяць, лише ставка після сплати податків"
0,Elementary,1155.0
1,Pre-Intermediate,1416.5
2,Intermediate,2150.0
3,Upper-Intermediate,3300.0
4,Advanced,3500.0

11. Є така штука як сортування значень категоріальної змінної. Нам це зараз стане в нагоді, адже рівні англійської можна посортувати. 
Давайте відсотруємо рівні англ. і тайтли. Просто запустіть код нижче і проаналізуйте, що він робить.

In [40]:
df['Знання англійської мови'] = pd.Categorical(df['Знання англійської мови'], 
                      categories=['Elementary','Pre-Intermediate','Intermediate','Upper-Intermediate','Advanced'],
                      ordered=True)

df['Ваш тайтл'] = pd.Categorical(df['Ваш тайтл'], 
                      categories=['Intern/Trainee', 'Junior', 'Немає тайтлу', 'Middle', 'Senior', 'Tech Lead', 'Team Lead', 'Architect', 'Head', 'Manager'],
                      ordered=True)

12. Зробіть зводну таблицю, де стовпці - це 'Ваш тайтл', рядки - 'Знання англійської мови', а значення - медіанна ЗП. Які висновки можна зробити?
Тут ще для зручності можна зробити градієнтне забарвлення і відформатувати значення для легшого перегляду.

In [44]:
pivot_table = df.pivot_table(index='Знання англійської мови', columns='Ваш тайтл', values='Зарплата у $$$ за місяць, лише ставка після сплати податків', aggfunc='median')

In [48]:
styled_table = pivot_table.style.background_gradient(cmap='viridis', axis=None).format('{:.2f}')
styled_table

13. Виведіть результат методу describe() для топ 5 за частотою зустрічання в даних областей (В якій області ви зараз живете?). Зробіть висновки, де вигідніше жити з точки зору ЗП і чи суттєва різниця на Ваш погляд для прийняття рішення про переїзд?

In [56]:
top_5_areas = df['В якій області ви зараз живете?'].value_counts().head(5)
top_5_areas

Київ чи область                4411
Львів чи область               2353
Дніпро чи область               751
Івано-Франківськ чи область     478
Вінниця чи область              447
Name: В якій області ви зараз живете?, dtype: int64

In [125]:
pivot_table_salary_by_title = df.pivot_table(index='В якій області ви зараз живете?', columns='Ваш тайтл', values='Зарплата у $$$ за місяць, лише ставка після сплати податків', aggfunc='median')
pivot_table_salary_by_title.style.background_gradient(axis=0).format('{:.2f}')

14. Як зростає зарплата з роками? Для цього нам треба відформатувати колонку "Загальний стаж роботи за спеціальністю" аналогічно до того, як ми це робили для колонки 'Знання англійської мови' і потім вивести медіанні значення для кількості років стажу.

In [67]:
df['Загальний стаж роботи за спеціальністю'].value_counts()

3 роки               1608
4 роки               1447
2 роки               1427
5 років              1351
1,5 року             1056
6 років               982
1 рік                 922
7 років               791
10 років              599
15 і більше років     586
8 років               529
Пів року              457
Менше як 3 місяці     434
9 років               336
11 років              233
12 років              206
3 місяці              158
13 років               97
14 років               96
Name: Загальний стаж роботи за спеціальністю, dtype: int64

In [68]:
conversion_dict = {
    'Пів року': 0.5,
    'Менше як 3 місяці': 0.25,
    '3 місяці': 0.25,
    '1 рік': 1.0,
    '1,5 року': 1.5,
    '2 роки': 2.0,
    '3 роки': 3.0,
    '4 роки': 4.0,
    '5 років': 5.0,
    '6 років': 6.0,
    '7 років': 7.0,
    '8 років': 8.0,
    '9 років': 9.0,
    '10 років': 10.0,
    '11 років': 11.0,
    '12 років': 12.0,
    '13 років': 13.0,
    '14 років': 14.0,
    '15 і більше років': 15.0
}

In [69]:
df['Загальний стаж роботи за спеціальністю'] = df['Загальний стаж роботи за спеціальністю'].map(conversion_dict)

In [73]:
median_salary_by_experience = df.groupby('Загальний стаж роботи за спеціальністю')['Зарплата у $$$ за місяць, лише ставка після сплати податків'].median()
median_salary_by_experience

Загальний стаж роботи за спеціальністю
0.25      700.0
0.50      700.0
1.00      950.0
1.50     1200.0
2.00     1700.0
3.00     2450.0
4.00     3000.0
5.00     3500.0
6.00     4000.0
7.00     4250.0
8.00     4700.0
9.00     4500.0
10.00    4600.0
11.00    5000.0
12.00    4750.0
13.00    4500.0
14.00    5050.0
15.00    4500.0
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

15. Об'єднаємо дані з колонок з 12 по 21, тк як вони зберігають ту ж саму інформацію, тільки розосереджену. Так ми зможемо аналізувати дані в розрізі конкретних спеціальностей.

In [79]:
df['Назва спеціальності'] = df.iloc[:, 12:22].apply(lambda row: ''.join(row.dropna().astype(str)), axis=1)

In [82]:
df['Назва спеціальності'].nunique()

79

In [111]:
df['Назва спеціальності'].value_counts().head(40)

                                      7378
Manual QA                             1467
Automation QA                          531
Project Manager                        443
General QA                             354
DevOps Engineer                        325
Business Analyst                       289
UI/UX Designer                         201
Recruiter                              201
Product Manager                        135
HR Manager                             131
Data Analyst                           106
Data Engineer / Big Data Engineer      104
Data Scientist                          93
Programmer                              89
Delivery Manager                        88
Product Owner                           67
Product Designer                        60
Other                                   56
Talent Acquisition Manager              52
Talent Researcher/Sourcer               51
Machine Learning Engineer               46
HR Director                             45
Marketing Manager                       44
Gameplay Programmer                     42
Scrum Master                            42
CTO                                     41
HR Business Partner                     40
3D Artist                               40
People partner / Happiness manager      40
2D Artist                               35
SEO Specialist                          34
Product Analyst                         34
Graphic / Video Designer                33
Director of Engineering                 33
Digital Marketing Manager               33
System Analyst                          32
Program Manager                         29
CEO, (co-) founder                      28
Site Reliability Engineer               28
Name: Назва спеціальності, dtype: int64

Подивимось статистику по зарплаті Дата аналітиків.

In [106]:
data_analyst_data = df[df['Назва спеціальності'] == 'Data Analyst']
data_analyst_data.head(5)

,Timestamp,Ви працюєте зараз в ІТ?,Де ви зараз живете?,В якій області ви зараз живете?,"Зарплата у $$$ за місяць, лише ставка після сплати податків",Ваша стать,Ваш вік,Яка у вас освіта?,Чи є у вас науковий ступінь?,Знання англійської мови,Оберіть вашу посаду,Ваш тайтл,Ваша спеціалізація,Вкажіть вашу спеціалізацію,Оберіть вашу спеціалізацію,Ваша посада,Оберіть вашу посаду2,Ваша посада3,Ваша посада4,Ваша посада5,Ваша посада6,Ваша посада7,Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?,Основна мова програмування,Вкажіть вашу основну спеціалізацію,В якій сфері працюєте?,Тип компанії,Загальний стаж роботи за спеціальністю,Назва спеціальності
213,2022-11-30 11:07:30,"Так, працюю full-time",В Україні,Черкаси чи область,3300.0,Жінка,24.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Upper-Intermediate,"Analyst (Business, Data, System)",Middle,NaN,NaN,NaN,NaN,NaN,NaN,Data Analyst,NaN,NaN,NaN,"Так, використовую",SQL,"Робота з даними, аналіз даних",Інша,Аутсорсингова,3.0,Data Analyst
317,2022-11-30 11:42:49,"Так, працюю full-time",В Україні,Київ чи область,800.0,Чоловік,33.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Elementary,"Analyst (Business, Data, System)",Middle,NaN,NaN,NaN,NaN,NaN,NaN,Data Analyst,NaN,NaN,NaN,"Так, використовую",SQL,"Робота з даними, аналіз даних","Big Data, Retail",Продуктова,5.0,Data Analyst
338,2022-11-30 11:45:28,"Так, працюю full-time",В Україні,Київ чи область,2550.0,Жінка,26.0,"Вища (бакалавр, спеціаліст, магістр)",Немає,Upper-Intermediate,"Analyst (Business, Data, System)",Middle,NaN,NaN,NaN,NaN,NaN,NaN,Data Analyst,NaN,NaN,NaN,"Ні, не використовую",NaN,NaN,Uberfication,Продуктова,5.0,Data Analyst
510,2022-11-30 12:13:36,"Так, працюю full-time","За кордоном (переїхали через війну, але планую...",NaN,3000.0,Чоловік,36.0,Дві вищі,Немає,Upper-Intermediate,"Analyst (Business, Data, System)",Senior,NaN,NaN,NaN,NaN,NaN,NaN,Data Analyst,NaN,NaN,NaN,"Так, використовую",SQL,"Робота з даними, аналіз даних",Adtech / Advertising,Продуктова,6.0,Data Analyst
532,2022-11-30 12:16:16,"Так, працюю full-time",В Україні,Київ чи область,600.0,Чоловік,19.0,Ще студент вишу,Немає,Upper-Intermediate,"Analyst (Business, Data, System)",Junior,NaN,NaN,NaN,NaN,NaN,NaN,Data Analyst,NaN,NaN,NaN,"Ні, не використовую",NaN,NaN,"Big Data, Mobile",Аутстафінгова,0.5,Data Analyst

Як залежить зарплата Дата аналітика від рівня володіння англійською мовою

In [93]:
salary_stats = data_analyst_data.groupby('Знання англійської мови')['Зарплата у $$$ за місяць, лише ставка після сплати податків'].median().reset_index()
salary_stats

,Знання англійської мови,"Зарплата у $$$ за місяць, лише ставка після сплати податків"
0,Elementary,725.0
1,Pre-Intermediate,600.0
2,Intermediate,1397.5
3,Upper-Intermediate,1800.0
4,Advanced,1883.0

Як залежить зарплата Дата аналітика від стажу роботи.

In [95]:
experience_salary_stats = data_analyst_data.groupby('Загальний стаж роботи за спеціальністю')['Зарплата у $$$ за місяць, лише ставка після сплати податків'].median().reset_index()
experience_salary_stats

,Загальний стаж роботи за спеціальністю,"Зарплата у $$$ за місяць, лише ставка після сплати податків"
0,0.25,910.0
1,0.50,600.0
2,1.00,1250.0
3,1.50,1000.0
4,2.00,1550.0
5,3.00,2200.0
6,4.00,2000.0
7,5.00,2575.0
8,6.00,2750.0
9,7.00,2560.0
10,8.00,4800.0
11,9.00,2650.0
12,10.00,3000.0
13,15.00,2350.0

А тепер перевіримо медіану по зарплаті Дата аналітика в залежності від тайтлу.

In [117]:
selected_specialties = ["Business Analyst", "Data Analyst", "Data Scientist"]

In [118]:
filtered_df = df[df['Назва спеціальності'].isin(selected_specialties)]

In [119]:
salary_by_title = pd.pivot_table(filtered_df, values='Зарплата у $$$ за місяць, лише ставка після сплати податків',
                             index='Назва спеціальності', columns='Ваш тайтл',
                             aggfunc='median')
salary_by_title.style.background_gradient(axis=0).format('{:.2f}')

А тепер перевіримо медіану по зарплаті Дата аналітика, Бізнес аналітика і Дата саєнтиста в залежності від стажу роботи.

In [122]:
salary_by_experience = pd.pivot_table(filtered_df, values='Зарплата у $$$ за місяць, лише ставка після сплати податків',
                             index='Загальний стаж роботи за спеціальністю', columns='Назва спеціальності',
                             aggfunc='median')
salary_by_experience.style.background_gradient(axis=0).format('{:.2f}')